common --enable_platform_specific_config
build --enable_bzlmod
build --incompatible_strict_action_env
test --test_output=errors

build:macos --repo_env=BAZEL_USE_CPP_ONLY_TOOLCHAIN=1
build:macos --repo_env=CC=/Library/Developer/CommandLineTools/usr/bin/clang
build:macos --macos_minimum_os=10.15
build:macos --copt=-isysroot
build:macos --copt=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
build:macos --linkopt=-isysroot
build:macos --linkopt=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
test --test_env=AR
test --test_env=CARGO_HOME
test --test_env=CC
test --test_env=CXX
test --test_env=DEVELOPER_DIR
test --test_env=DYLD_LIBRARY_PATH
test --test_env=HOME
test --test_env=LIBRARY_PATH
test --test_env=MACOSX_DEPLOYMENT_TARGET
test --test_env=NIX_CFLAGS_COMPILE
test --test_env=NIX_LDFLAGS
test --test_env=PATH
test --test_env=PKG_CONFIG_PATH
test --test_env=SDKROOT
