/target/
/.gerbil/
/.ci/
/bazel-*
*.ssi
*.scm
*.c
!native/runtime.c
!scheme/native.ssi
!scheme/generated/
!scheme/generated/native.scm
*.o
*.so
*.dylib
/.devenv/
.pre-commit-config.yaml
**/.devenv/
**/.direnv/
**/target/
